$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$background-dark: #0d0d21;
$elements-background-red: #a75858;

$main-text: #e16c6c;
$white-text: #e5e5e5;
$black-text: #000000;

$hover-text: rgb(196, 189, 189);
