@import 'global/styles';
@import './styles/variables';

html,
body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: $background-dark;
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  list-style: none;
}

a:hover,
i:hover {
  cursor: pointer;
  // cursor: url('../static//assets//images/cursor-hand.png'), default;
}

ul {
  padding: 0;
}
